body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
    background: #ecf0f1;
}

h2 {
    text-align: center;
}

/* HEADER & NAVIGATION */

header {
    background: #2d3e50;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #e64d3b;
}

.header-img {
    width: 30%;
    margin-left: 5%;
}

.header-img img {
    max-width: 150px;
}

.nav {
    width: 70%;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/* BANNIERE */

#headline {
    width: 100%;
    position: relative;
}

#headline img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 300px;
}

h1 {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 100%;
    color: #2d3e50;
    font-size: 60px;
    text-shadow: 2px 2px 2px #EEEEEE;
}

.btn {
    width: 10%;
    background: #e84c3d;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    left: 40%;
    top: 220px;
    transition: 0.5s;
}

.btn:hover {
    background: #2a1aa4;
} 

.btn span {
    color: white;
}

/* SECTION COURS */


.courses {
    width: 100%;
    background: #ecf0f1;
    padding-top: 1%;
    padding-bottom: 5%;
}

.courses-description {
    text-align: center;
}

.courses-types {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.course-card {
    width: 30%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px #d2d1d1;
}

.course-card-img {
    width: 90%
}

.course-card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-top: 10px;
}

.course-card-description {
    font-size: 14px;
    text-align: center;
}

.btn-large {
    background: #e84c3d;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.btn-large:hover {
   background: #2a1aa4;
}

.btn-large span {
    color: white;
}

/* RESSOURCES */

.resources {
    width: 100%;
    background: #ecf0f1;
    
}

.resources h2 {
    text-align: center;
    padding-bottom: 40px;
}


.resources-quotes {
    display: flex;
    justify-content: center;
}

.quote-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    position: relative;
    
    
}

.quote-card-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid white;
    z-index: 1;
    position: absolute;
    top: -30%;
    
    
}

.quote-card-img img {
    width: 100%;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.quote-card-text {
    background: white;
    padding-top: 50px;
    padding-bottom: 30px;
    height: 100px;
    box-shadow: 0px 2px 3px #d2d1d1;
}

.quote-card-text p {
    width: 95%;
    font-size: 14px;
    font-style: italic;
    margin-left: 10px;
}

.quote-card-text span {
    font-size: 14px;
    font-weight: bold;
    margin-left: 60%;
    height: 100px;
}

/* FORMULAIRE CONTACT */

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    width: 60%;
    background: white;
    margin-bottom: 30px;
    box-shadow: 0px 2px 3px #d2d1d1;
}

.contact-form p {
    margin-left: 20px;
    font-weight: bold;
}

.contact-form input {
    width: 90%;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
}

.message {
    height: 100px;
    margin-bottom: 20px;
}

.btn-send {
    background: #e84c3d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.btn-send {
    background: #2a1aa4;
}

.btn-send span {
    color: white;
    
}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #2d3e50;
}

footer img {
    max-width: 250px;
}

footer p {
    color: white;
    font-size: 14px;
}

/* RESPONSIVE */

/* Mobiles */

@media screen and (min-width: 350px) and (max-width: 767px) {
    

    header {
        flex-direction: column;
        margin-left: 0;
    }

    nav {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 40px;
        width: 90%;
        left: 20%;
    }

    .btn {
        width: 70px;
    }

    .courses-types {
        flex-direction: column;
        align-items: center;
    }

    .course-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .resources-quotes {
        flex-direction: column;
        align-items: center;
    }

    .quote-card {
        width: 90%;
        margin-bottom: 80px;
    }

    .contact-form {
        width: 90%;
    }

    .contact-info {
        text-align: center;
    }
}

/* Tablettes */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        flex-direction: column;
        margin-left: 0;
    }

    nav {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 40px;
        width: 90%;
        left: 20%;
    }

    .btn {
        width: 70px;
        left: 45%;
    }

    .courses-types {
        flex-direction: column;
        align-items: center;
    }

    .course-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .resources-quotes {
        flex-direction: column;
        align-items: center;
    }

    .quote-card {
        width: 90%;
        margin-bottom: 80px;
    }

    .contact-form {
        width: 90%;
    }

    .contact-info {
        text-align: center;
    }
}